{% extends 'base.html.twig' %}

{% block title %}SISVENT{% endblock %}

{% block body %}

    <h1>Bienvenido</h1>
    <p><strong>Sistema de Información Automatizado para la Optimización del Registro y Control de Mercancía
    Depositada en el Almacén le la Empresa Corporación Logiscar, C.A. Estado La Guaira.</strong></p>
    <p>Este Sistema gestiona el registro y control de mercancías depositadas en el almacén de la 
    empresa Corporación Logiscar, c.a.</p>
    <p>El objetivo de este sistema es facilitar el procesamiento de información, otorgar tiempos 
    de repuesta mucho más cortos que los que ofrece un sistema manual.</p>
    
{% endblock %}
