{% extends 'base.html.twig' %}

{% block title %}Nuevo Usuario{% endblock %}

{% block body %}
    <h1>Registrar Nuevo Usuario</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">Regresar a la Lista</a>
{% endblock %}
